.ProductsPageContainer ,.ProductPageContainer{
    padding: 30px 0 30px 0;
    .navActions img {
        filter: invert(1);
    }
    .desktopNav a {
        color: black;
    }
    .logo svg {
        fill: black;
    }
}