@import "./mixins.scss";

.ProductsPageContainer,
.ProductPageContainer,
.CartpageContainer,
.CheckoutCotainer {
    padding: 20px 0 30px 0;
    .navActions img {
        filter: invert(1);
    }
    .navActions a {
        @include content-center;
    }
    .desktopNav a {
        color: black;
    }
    .logo svg {
        fill: black;
    }
}

hr {
    color: #80808038;
    border: 0.001em solid #ebebebad;
    margin: 20px 0 40px 0;
}
