@import "./mixins.scss";

.ProductsPageContainer,
.ProductPageContainer,
.CartpageContainer,
.CheckoutCotainer,
.LoginPageContainer,
.AboutPageContainer,
.AccountPageContainer {
    padding: 20px 0 30px 0;
    .navActions img {
        filter: invert(1);
    }
    .desktopNav a {
        color: black;
    }
    .logo svg {
        fill: black ;
    }
    .search {
        border: 1px solid gray;
    }
}

hr {
    color: #80808038;
    border: 0.001em solid #ebebebad;
    margin: 20px 0 40px 0;
}
.lighttext{
    margin: 5px 0;
    color: rgba(128, 128, 128, 0.504);
}
.LoderContainer{
    background-color: transparent;
    padding: 10px;
    @include content-center;
}


.css-1elwnq4-MuiPaper-root-MuiAccordion-root{
    box-shadow: none !important;
}
.css-67l5gl{
    box-shadow: none !important;
}