@import "../variables.scss";
@import "../mixins.scss";

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navActions {
        min-width: 8em;
        display: flex;
        justify-content: space-between;
        img {
            fill: black;
            color: #e67e22;
        }
        a {
            @include content-center;
        }
    }
    #leftNav {
        .css-1elwnq4-MuiPaper-root-MuiAccordion-root{
            box-shadow: none !important;
        }
        .css-67l5gl{
            box-shadow: none !important;
        }
        z-index: 1000;
        position: fixed;
        left: -250px;
        top: 0;
        min-width: 250px;
        flex-direction: column;
        justify-content: flex-start;
        min-height: 100vh;
        background: white;
        font-size: 1.5rem;
        #hideNavBar {
            fill: black;
            font-size: 1.5rem;
            position: absolute;
            right: 10px;
            top: 10px;
        }
        transition: left 0.5s;
        .LeftNavbarContaint {
            display: flex;
            flex-direction: column;
            a {
                @include content-center;
                margin: 1rem;
                font-size: 0.8em;
                color: black;
            }
        }
    }
    .logo {
        display: flex;
        align-items: center;
        cursor: pointer;
        img {
            width: 6rem;
        }
        .navbarOptionBtn {
            display: none;
            margin: 10px;
            fill: white;
        }
    }
    @media screen and(max-width: $mobile_limit) {
        .logo {
            img {
                width: 3.5rem;
            }
            .navbarOptionBtn {
                display: block;
            }
        }
        .navActions {
            width: 7em;
            img {
                width: 1rem;
            }
        }
    }
}
.desktopNav {
    .css-1elwnq4-MuiPaper-root-MuiAccordion-root{
        box-shadow: none !important;
    }
    .css-67l5gl{
        box-shadow: none !important;
    }
    
    .css-15v22id-MuiAccordionDetails-root{
        padding: 0 !important;
    }
    .css-o4b71y-MuiAccordionSummary-content.Mui-expanded{
        margin: 12px 0 !important;
    }
    .css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded{
        min-height: auto !important;
    }
    .css-1elwnq4-MuiPaper-root-MuiAccordion-root:before{
        height: 0;
    }
    min-width: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: white;
    align-items: center;
    position: relative;
    @media screen and(max-width: $mobile_limit) {
        display: none;
    }
    .DesktopNavbarContaint {
        border: 1px solid gray;
        position: absolute;
        display: flex;
        flex-direction: column;
        background: white;
        width: 93%;
        margin: 10px 0;
        align-items: center;
        padding: 20px;
        a {
            margin: 10px 0;
            color: black;
            &:hover {
                color: #34495e;
                text-decoration: underline;
            }
        }
    }
    .DesktopNavbarContaint::before{
        content: "";
        width: 20px;
        height: 20px;
        position: absolute;
        right: 4px;
        top: -11px;
        transform: rotate(45deg);
        border:1px solid gray;
        border-bottom: none;
        border-right: none;
        background-color: white;
    }
}
.headerContainer {
   
    .SearchBar {
        overflow: hidden;
        .search {
            display: flex;
            align-items: center;
            overflow: hidden;
            margin: 10px auto;
            input {
                width: 100%;
                padding: 12px 30px;
                margin: 0;
                border: none;
                background-color: white;
                @media screen and(max-width: $mobile_limit) {
                    padding: 7px 10px;
                }
            }
            button {
                background: white;
                @include content-center;
                border: none;
                padding: 10px 30px;
                @media screen and(max-width: $mobile_limit) {
                    padding: 5px 10px;
                }
            }
        }
    }
    .middleSearchbar{
        @include content-center;
        justify-content: end;
        width: 70%;
        .SearchBar{
            width: 20rem;
        }
        @media screen and(max-width: $mobile_limit) {
            display: none;
        }
    }
    #SearchBar1{
        max-width:  0px;
        transition: max-width 0.5s;
    }
    #SearchBar2{
        max-height: 0px;
        transition: max-height 0.5s;
        @media screen and(min-width: $mobile_limit) {
            display: none;
        }
    }
}
