@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@300;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-wrap: break-word;
    text-decoration: none;
    color: black;
    scroll-behavior: smooth;
    outline: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}
a,
svg,
button,
label {
    cursor: pointer;
}
